<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Quadrotor Sensor Plugins -->
  <xacro:macro name="quadrotor_sensors">
        <gazebo>
          <plugin name="quadrotor_imu_sim" filename="libhector_gazebo_ros_imu.so">
            <updateRate>10.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>base_link</frameId>
            <topicName>raw_imu</topicName>
            <rpyOffset>0 0 0</rpyOffset> <!-- deprecated -->
            <gaussianNoise>0</gaussianNoise>  <!-- deprecated -->
            <accelDrift>0.0 0.0 0.0</accelDrift>
            <accelGaussianNoise>0.0 0.0 0.0</accelGaussianNoise>
            <rateDrift>0.0 0.0 0.0</rateDrift>
            <rateGaussianNoise>0.0 0.0 0.0</rateGaussianNoise>
          </plugin>

          <plugin name="quadrotor_baro_sim" filename="libhector_gazebo_ros_baro.so">
            <updateRate>10.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>base_link</frameId>
            <topicName>pressure_height</topicName>
            <altimeterTopicName>altimeter</altimeterTopicName>
            <offset>0</offset>
            <drift>0.0</drift>
            <gaussianNoise>0.0</gaussianNoise>
          </plugin>

          <plugin name="quadrotor_magnetic_sim" filename="libhector_gazebo_ros_magnetic.so">
            <updateRate>10.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>base_link</frameId>
            <topicName>magnetic</topicName>
            <offset>0 0 0</offset>
            <drift>0.0 0.0 0.0</drift>
            <gaussianNoise>1.3e-2 1.3e-2 1.3e-2</gaussianNoise>
          </plugin>

          <plugin name="quadrotor_gps_sim" filename="libhector_gazebo_ros_gps.so">
            <updateRate>4.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>base_link</frameId>
            <topicName>fix</topicName>
            <velocityTopicName>fix_velocity</velocityTopicName>
            <referenceLatitude>49.860246</referenceLatitude>
            <referenceLongitude>8.687077</referenceLongitude>
            <referenceAltitude>0.0</referenceAltitude>
            <drift>0.0 0.0 0.0</drift>
            <gaussianNoise>0.00 0.00 0.00</gaussianNoise>
            <velocityDrift>0 0 0</velocityDrift>
            <velocityGaussianNoise>0.00 0.00 0.00</velocityGaussianNoise>
          </plugin>

          <plugin name="quadrotor_groundtruth_sim" filename="libgazebo_ros_p3d.so">
            <updateRate>100.0</updateRate>
            <bodyName>base_link</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <frameName>world</frameName>
          </plugin>

        </gazebo>
  </xacro:macro>

</robot>
