<?xml version="1.0"?>
<robot name="drone" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Parameters for customization -->
<xacro:property name="drone_name" value="drone"/>
<xacro:property name="body_length" value="1.0"/>
<xacro:property name="body_width" value="0.3"/>
<xacro:property name="wing_length" value="1.5"/>
<xacro:property name="wing_thickness" value="0.05"/>

<!-- Base Link -->
<link name="${drone_name}_base_link">
    <visual>
        <geometry>
            <box size="${body_length} ${body_width} 0.1"/>
        </geometry>
        <material name="blue"/>
    </visual>
    <collision>
        <geometry>
            <box size="${body_length} ${body_width} 0.1"/>
        </geometry>
    </collision>
    <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
</link>


</robot>
