<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macro to add a GPS module. -->
  <xacro:macro name="gps_plugin_macro"
    params="
      parent_link
      ">

    <!-- Load Plugin -->
    <gazebo>
      <plugin filename="libhector_gazebo_ros_gps.so" name="GPS">
        <updateRate>4.0</updateRate>
          <!-- <bodyName>gps_link</bodyName> -->
          <frameId>gps_link</frameId>
          <referenceLatitude>0.0</referenceLatitude>
          <referenceLongitude>0.0</referenceLongitude>
          <referenceHeading>0.0</referenceHeading>
          <referenceAltitude>0.0</referenceAltitude>
          <offset>0 0 0</offset>
          <drift>0.001 0.001 0.001</drift>
          <gaussianNoise>0.05 0.05 0.05</gaussianNoise>
          <velocityDrift>0.001 0.001 0.001</velocityDrift>
          <velocityGaussianNoise>0.5 0.5 0.5</velocityGaussianNoise>
        <linkName>${parent_link}</linkName>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>

