<!-- RECURSIVE LAUNCH FILE TO INITIALIZE ALL THE NODES IN THE CORRECT NAMESPACE -->

<!-- TODO: check if the recursion is correct -->
<launch>
<arg name="num_drones" default="1" />
<arg name="nd" default="$(arg num_drones)" />
<group ns="$(eval 'drone' + str(arg('nd') - 1 ))">
<node name="robot_initializer_node" pkg="dist_project" type="initialize_robot.py" /> -->
</group>
<include file="$(find dist_project)/launch/run_execution.launch" if="$(eval arg('nd') - 1 > 0)">
    <arg name="num_drones" value="$(eval arg('nd') - 1)" />
</include>
</launch>