<!-- RECURSIVE LAUNCH FILE TO INITIALIZE ALL THE NODES IN THE CORRECT NAMESPACE -->

<!-- TODO: check if the recursion is correct -->
<launch>
<arg name="num_drones" default="1" />
<arg name="nd" default="$(arg num_drones)" />
<group ns="$(eval 'drone' + str(arg('nd') - 1 ))">
    <node name="robot_initializer_node" pkg="dist_project" type="initialize_robot.py" />
    <node name="uwb_simulation_3d" pkg="dist_project" type="uwb_dist_sim_3d.py" /> -->
    <node name="image_processing_drone" pkg="dist_project" type="image_processing_drone.py" /> -->
    <node name="gps_conversion" pkg="dist_project" type="gps_to_coordinate.py" /> -->
</group>
<include file="$(find dist_project)/launch/run_execution.launch" if="$(eval arg('nd') - 1 > 0)">
    <arg name="num_drones" value="$(eval arg('nd') - 1)" />
</include>
</launch>