<?xml version="1.0"?>
<launch>

  <!-- PARAMETER SECTION -->
  <!--==================================================================-->
  <!-- SPAWN TAGS PARAMETERS DEFINITION -->
  <param name="tag_height" type="int" value="3" />
  <param name="tag_distance_rate" type="int" value="100" />
  <param name="tag_coordinate_file" type="str" value="$(find dist_project)/coordinates/tag_coordinates.csv" />
  <param name="tag_urdf_file" type="str" value="$(find dist_project)/urdf/tag.urdf" />

  <!-- SPAWN TARGET PARAMETERS DEFINITION -->
  <param name="target_coordinate_file" type="str" value="$(find dist_project)/coordinates/target_coordinates.csv" />
  <param name="target_sdf_file" type="str" value="$(find dist_project)/models/target/model.sdf" />

  <!-- SPAWN ROOM PARAMETERS DEFINITION -->
  <param name="room_sdf_file" type="str" value="$(find dist_project)/models/room/model.sdf" />

  <!-- DRONE PARAMETER DEFINITION-->
  <arg name="drone_model" default="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro" />
  <param name="drone_description" command="$(find xacro)/xacro $(arg drone_model)" />
  <param name="drone_coordinate_file" type="str" value="$(find dist_project)/coordinates/drone_coordinates.csv" />

  <!-- UWB DISTANCE SIMULATOR NODE PARAMETERS -->
  <param name="initialization_time" type="int" value="5" />

  <!-- MOTION PLANNER NODE PARAMETERS -->
  <param name="motion_planner_rate" type="int" value="1" />

  <!-- KALMAN LOCALIZATION NODE PARAMETERS -->
  <param name="localization_rate" type="int" value="10" />

  <!-- TARGET ESTIMATOR NODE PARAMETERS -->
  <param name="target_estimator_rate" type="int" value="10" />

  <!-- NODES SECTION -->
  <!--==================================================================-->

  <!-- INITIALIZE GAZEBO NODE -->

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"/>
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

<!--   <node pkg="gazebo_ros" type="gazebo" name="gazebo" /> -->
  <param name="task" type="str" value="search_and_rescue" />
  <node pkg="dist_project" type="gazebo_init.py" name="gazebo_init" />


  <!-- INITIALIZE CAMERA POINT OF VIEW NODE -->
  <node pkg="rqt_image_view" type="rqt_image_view" name="camera_blob_viewer" />

  <!-- INITIALIZE PLOT MANAGER NODE -->
<!--   <node pkg="plotjuggler" type="plotjuggler" name="plotjuggler" /> -->

</launch>
